* { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #E8E8E8;
}
a {
    text-decoration: none;
}
body {
    /* background-color: #0facf3; */
    /* background-color: rgba(15,172,243,5); */
    background-color: #511313;
}
/* body::after{
    background-color: rgb(0, 0, 0);
} */

/* Início login */
.corpo-login {
    position: relative;
    width:100%;
    height:30em;
}
.container-login {
    left: 50%;
    top: 50%;
    margin-left: -15em;
    margin-top: -5em;
    position: absolute;
    width: 30em;
    height: 15em;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1em;
}
#login {
    margin: 2em 3em;
    height: 11em;
}
#login h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    padding-bottom: 0.5em;
}
#login form label {
    font-weight: bolder;
    font-size: 1.3em;
    margin-left: 2em;
    vertical-align: -webkit-baseline-middle;
}
#login form p {
    padding: 0.5em 0;
    height: 2em;
}
#login form p input {
    float: right;
    margin-right: 2em;
    height: 2em;
    background-color: #511313;
    padding: 0 1em;
    border: none;
    border-radius: 1em;
    width: 35%;
    border: 0.1em;
}
#login form #btn-entrar:hover {
    border: 0.1em solid;
}
input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0px 1000px #511313 inset;
    -webkit-text-fill-color: #E8E8E8;
    width: 35%;
}
/* #login form p input:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transition: 0.5s;
} */


/* Fim login */

/* Início do topo */
.fundo {
    width: 100%;
    height: 100%;
    background-color: #511313;
    float: left;
    z-index: 9;
    border-top: solid 0.01em;
    margin-top: 29.5%;
}
#topo {
    height: 3.1em; 
    width: 100%;
    background-color: #511313;
    border-bottom: solid 0.01em #FFFAFF;
    position: fixed;
    z-index: 10;
}
#imagem-perfil img {
    width: 2.5em;
    float: right;
    margin-right: 2%;
    margin-top: 0.3%;
}
#imagem-perfil img:hover {
    cursor: pointer;
}
.logo img {
    width: 3em;
    float: left;
    margin-left: 2%;
}
.logo img:hover {
    cursor: pointer;
}
#drop-down-perfil {
    float: right;
    width: 5em;
    position: relative;
}

#menu ul {
    width: 90%;
    margin: auto;
}
#menu ul li { 
    float: left;
    display: inline; 
    padding: 1.3% 7%;
}
#menu ul li a {
    padding: 18% 30%;

    /* visual do link */
    color: #E8E8E8;
}
#menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: #E8E8E8;
}
#menu ul li a img {
    width: 2em;
}

/* Fim do topo */

/* Início da home */

#home-principal {
    /* width: 100%; */
}
#imagem-home-principal {
    /* width: 100%; */
}
#imagem-home-principal img {
    width: 100%;
    position: fixed;
    z-index: -1;
    margin-top: 3.1em;
}
#drop-down-perfi li {
    height: 1.5em;
}
.opcoes {
    /* width: 60em;
    margin: 3em auto; */
    float: left;
    border: solid 0.01em;
    margin-bottom: 1em;
}
.opcao img {
    width: 3em;
}
.opcao {
    width: 33.26%;
    float: left;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0.05em 0.05em 0.05em 0.01em;
}
.opcao:hover {
    background-color: #511313;
    cursor: not-allowed;
    transition: 0.5s;
   
}
/* .opcoes > :first-child {
    border-bottom: none ;
}  */
.opcao:last-child{
    margin-right: 0;
}
.opcoes .opcao .titulo {
    width: 100%;
    height: 3em;
    text-align: center;
    padding-top: 2em;
}
.opcoes .opcao .titulo h1 {
    padding-top: 0.5em;
    font-size: 2.5em;
    font-weight: bolder;
}
.opcoes .opcao ul {
    height: 14em;
    text-align: left;
    font-size: 0.9em;
    padding: 1em 1em 5em 1em;
    font-size: 1.05em;
}
.opcoes .opcao li {
    margin: 0 0 0 1em;
    padding: 0.5em 0 0 0;
    list-style-type: disc;
}
button {
    border-radius: 0 0 1em 1em;
    border: 0;
    position: relative;
    top: 2.1em;
    width: 12em;
    height: 2em;    
}
button:hover {
    cursor: pointer;
}
h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 2em 0 2em 0;
}
h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}
/* Fim da home */
/* Parte da lista de conteúdo de português */

.container {
    margin: auto;
    /* width: 60em; */
    width: 71.19%;
}
/* .container h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: left;
} */

#resumo-portugues {
    text-align: left;
    width: 20em;
    background-color: rgba(255, 255, 255, 0.25);
    float: left;
    border: solid 0.01em;
}
#resumo-matematica {
    text-align: left;
    width: 20em;
    background-color: rgba(255, 255, 255, 0.25);
    float: left;
    border: solid 0.01em;
}
#resumo-algoritimo {
    text-align: left;
    width: 20em;
    background-color: rgba(255, 255, 255, 0.25);
    float: left;
    border: solid 0.01em;
}

.lista-resumo li {
    padding: 1em;
    color: #E8E8E8;
}

.lista-resumo li:hover {
    background-color: #511313;
    color: #E8E8E8;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 900;
    border-bottom: solid #E8E8E8 0.01em;
    border-top: solid #E8E8E8 0.01em;
    border-left: solid #E8E8E8 0.01em;
    width: 90%;
}
.lista-resumo li:active {
    background-color: #511313;
    color: #E8E8E8;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 900;
    border-bottom: solid #E8E8E8 0.01em;
    border-top: solid #E8E8E8 0.01em;
    border-left: solid #E8E8E8 0.01em;
}
/* .lista-resumo li:hover:last-child {
    border-bottom: none;
    border-left: none;
} */

.lista-resumo img {
    float: right;
    margin: 0 0 0 2%;
    width: 2em;
}
/* Fim da parte da lista de conteúdo de português */

/* Inicio conteúdo do capítulo */
.resumo-capitulo {
    float: left;
    width: 66%;
}
.alinha-resumo div {
    display: none;
}
.alinha-resumo div:target {
    display: block;
}
.resumo div {
    display: none;
}
.resumo div:target {
    display: block;
}
/* #capitulo1 {
    display: none;
}
#capitulo2 {
    display: none;
}
#capitulo3 {
    display: none;
} */
.alinha-resumo {
    float: left;
    padding: 0.5em 2em 5em 2em;
}
.alinha-resumo h3 {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    padding: 1em;
}
.active { display: block !important }
/* Fim do conteúdo do capítulo */

/* Início chatbot */
.chatbot {
    position: fixed;
    height: 4%;
    width: 25%;
    background-color: #511313;
    bottom: 0;
    right: 0;
    border-top: solid 0.01em #E8E8E8;
    border-left: solid 0.01em #E8E8E8;
    transition: all 0.5s;
}
.chatbot:hover {
    position: fixed;
    height: 7%;
    width: 25%;
    background-color: #511313;
    bottom: 0;
    right: 0;
    border-top: solid 0.01em #E8E8E8;
    border-left: solid 0.01em #E8E8E8;
    cursor: pointer;
    transition: 0.5s;
}
.chatbot .logo img {
    width: 22%;
}
.chatbot h2 {
    font-size: 1em;
    padding-top: 0.3em;

}
.chatbot > :last-child {
    padding: 0;
    margin: -0.3em 0;
}
/* Fim chatbot */

/* Padina de conteudo */
.conteudo-completo {
    width: 100%;
    padding-top: 3em;
}
.conteudo-completo #resumo-portugues{
    position: fixed;
}
.conteudo-completo .alinha-resumo {
    margin-left: 20em;
}
.conteudo-completo .resumo-capitulo {
    width: 100%;
}

/* fim da pagina de conteudo */


teste{
    color: #0facf3;
    color: #606c68;
    color: #050401;
    color: #FC5130;
    color: #FFFAFF;
    color: #fe4972;
    color: #2dbbe8;
    color: #606c68;
    color: #ffa435;
    color: #2a3a75;
    color: #2a5699;
}