.container {
    margin: auto;
    margin-top: 5%;
    width: 60%;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.conteudo {
    margin-top: 3%;
    text-align: left;
}

.listaConteudo li {
    padding: 1em;
}
.listaConteudo li:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.listaConteudo img {
    float: right;
    margin: 0 2%;
}

.chatbot {
    position: fixed;
    height: 5%;
    width: 25%;
    background-color: #0E9DDD;
    bottom: 0;
    right: 0;
    border-top: solid 0.01em #E8E8E8;
    border-left: solid 0.01em #E8E8E8;
}

.chatbot h2 {
    font-size: 1.5em;
    float: right;
}